/**
 * ROFI Layout 
 *
 * Base style for clipboard style Layout.
 * 
 * User: The HyDE Project [ mini dropdown menu ]
 * Copyright: The HyDE Project
 */

// Config //
configuration {
    show-icons:                  false;
}

* {
    font:               "JetBrainsMono Nerd Font Propo 10";
    main-bg:            #11111be6;
    main-fg:            #cdd6f4ff;
    main-br:            #cba6f7ff;
    main-ex:            #f5e0dcff;
    select-bg:          #b4befeff;
    select-fg:          #11111bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}

// Main //
window {
    width:                       23em;
    height:                      30em;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      2px;
    border-color:                @main-br;
    border-radius:               12px;
    background-color:            @main-bg;
}
mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.5em;
    orientation:                 vertical;
    children:                    [ "wallbox" , "listbox" ];
    background-color:            transparent;
}
wallbox {
    spacing:                     0em;
    padding:                     0em;
    expand:                      false;
    orientation:                 horizontal;
    background-color:            transparent;
    background-image:            url("~/.cache/auch/wall.blur", width);
    children:                    [ "wallframe" , "inputbar" ];
}
wallframe {
    width:                       5em;
    spacing:                     0em;
    padding:                     0em;
    expand:                      false;
    background-color:            @main-bg;
    background-image:            url("~/.cache/auch/wall.quad", width);
}

// Inputs //
inputbar {
    enabled:                     true;
    padding:                     0em;
    children:                    [ "entry" ];
    background-color:            @main-bg;
    expand:                      true;
}
entry {
    enabled:                     true;
    padding:                     1.8em;
    text-color:                  @main-fg;
    background-color:            transparent;
    placeholder:                 "Search clipboard...";
    placeholder-color:           #6c7086ff;
}

// Lists //
listbox {
    spacing:                     0em;
    padding:                     0em;
    orientation:                 vertical;
    children:                    [ "dummy" , "listview" , "dummy" ];
    background-color:            transparent;
}
listview {
    enabled:                     true;
    padding:                     0.5em;
    columns:                     1;
    lines:                       11; 
    cycle:                       true;
    fixed-height:                true;
    fixed-columns:               false;
    expand:                      false;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @main-fg;
}
dummy {
    spacing:                     0em;
    padding:                     0em;
    background-color:            transparent;
}

// Elements //
element {
    enabled:                     true;
    padding:                     0.5em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @main-fg;
    border-radius:               8px;
}
element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}
element-text {
    vertical-align:              0.0;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
