body {
    /*background-image: url('../../../../.cache/auch/wall.blur') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center bottom !important;*/
}
